<img src="https://www.sogeti.nl/themes/custom/sogeti_corporate/logo.svg">
<h1>Welkom bij de RDF tool!</h1>


<!-- logic to present query results -->
<div *ngIf="resources">
  <div *ngFor="let i of resources.results.bindings">
    <p>{{ i.name.value }} </p>
  </div>
</div>

<!-- button to fire query -->
<button (click)="getjobTitles()">Functies</button>

<div *ngIf="jobTitles">
  <div *ngFor="let i of jobTitles.results.bindings">
    <li>{{ i.jobTitle.value }} </li>
  </div>
</div>

<!-- button to fire query -->
<button (click)="getSogetisten()">Sogetisten</button>

<div *ngIf="sogetisten">
  <div *ngFor="let i of sogetisten.results.bindings">
    <p>{{ i.sogetisten.value }} {{ i.wie.value }}</p>
  </div>
</div>
<router-outlet></router-outlet>
